html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {

  background-color: rgba(240, 230, 140, 0.253);
  font-family: "Roboto", sans-serif;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

